<% include ../partials/header %>
<br> <br> <br>

    <div class="page-header text-center">
        <h2><%= data.title %></h2>
        <h3><%= data.date %></h3>
        <h3><%= data.time %></h3>
    </div>

<div class="container">
    <div class=""row>
        <img class="img-single" src="/images/nitish-meena-198784.jpg">
    </div>
    <br>
    <div>
        <p><%= data.description %></p>
    </div>
    <br>
    <div class=""row>
    <a class="btn btn-primary btn-info" href="/join/register">Join Event</a>
    </div>
</div>


<% include ../partials/footer %>