<% include ../partials/header %>

<form method='POST' action='/events'>
  <input name='title' type='text' placeholder='title' />
  <input name='events_date' type="date" value="date"placeholder='date' />
  <input name='events_time' type='text' placeholder='time' />
  <input name='events_location' type='text' placeholder='location' />
  <textarea name="events_description" id="description"></textarea>
  <input name='organizer' type='text' placeholder='organizer' />
  <input class="" type='submit' value='Submit!' />
</form>

<% include ../partials/footer %>