<% include ../partials/header %>

<h1>THIS IS THE EVENT-INDEX.EJS PAGE</h1>

<div>
    <h1><%= data.title %></h1>
    <h3><%= data.genre %></h3>
    <h3><%= data.year %></h3>
</div>

<% include ../partials/footer %>