<% include ../partials/header %>

<h1>THIS IS THE EVENT-SINGLE-INDEX.EJS PAGE</h1>

<div>
    <h1><%= data.title %></h1>
    <h3><%= data.date %></h3>
    <h3><%= data.time %></h3>
</div>

<a href='./<%= data.id %>/edit'>Edit it!</a>

<% include ../partials/footer %>