<br>
<div class="container-fluid footer text-right"><p>All Rights Reserved upbear 2017</p></div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>