<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Upbear - A Volunteer Event App</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid"> 
        <div class="navbar-header"> <!-- logo -->
          <a class="navbar-brand" href="/">Upbear</a><small class="tagline">a volunteer event app</small>
        </div> <!-- logo --> 

      <div class="collapse navbar-collapse"> <!-- menu -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/Register">Sign Up</a></li>
          <li class="see-events"><a href="/events">SEE ALL EVENTS</a></li>
        </ul>
      </div> <!-- menu -->  

    </div> 
  </nav>