<% include ./partials/header %>

<!-- slideshow -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- slide images-->
  <div class="carousel-inner slideshow">
    <div class="item active">
      <img src="/images/nicole-adams-198431.jpg" alt="image by nicole adams Unsplash">
    </div>

    <div class="item">
      <img src="/images/doug-linstedt-135670.jpg" alt="image by doug linstedt Unsplash">
    </div>

    <div class="item">
      <img src="/images/larm-rmah-216854.jpg" alt="image by carson-arias Unsplash">
    </div>
  </div>

<!-- -->
<br> <br>
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1 class="text-center">What is Upbear</h1>
				<p>An event app that helps volunteers to spread
				to allow volunteers to create, share, find and attend new things to do that fuel their passions and enrich their lives. venues, marathons, conferences, hackathons, air guitar contests, political rallies, fundraisers you name it, we power it. All campaigns that volunteers will join and create is base on the recent events from dosomething.org.
				</p>
				<div class="col-lg-4">
					<h3>Merriam-Webster</h3>
					<h4>Definition of upbear</h4>
                    <p>: to bear up :  support raise</p>
				</div>
				<div class="col-lg-4">
					<h3>Volunteering</h3>
					<p>You don’t have to quit your day job to make a difference in your community.We believe that regular people who care deeply about their city can spark real change.</p>
				</div>
				<div class="col-lg-4">
					<h3>Community</h3>
					<p>We're a community! we connect people who want to change the world together.</p>
				</div>
			</div>
			<br>
	    </div>
	</div>
<br> <br> <br>	

	<div class="row dosomething">
		<div class="container">
			<div class="text-center">
					<h2>Let's Do This!</h2>
					<p>Choose a campaign and take action with 5.5 million young people.</p>
					<a class="btn btn-warning" href="/campaigns">SEE LATEST CAMPAIGNS</a>
					<br>
					<h3>Support Campaigns from dosomething.org</h3>
					<p>It's a place of hope and opportunity. A place millions have traveled to in search of a better life. Unfortunately, the American Dream feels unattainable for many vulnerable New Yorkers, who are facing such obstacles as limited education, poor nutrition, low literacy, unemployment, and lack of basic needs.”</p>
					<br>
					<a class="btn btn-info" href="https://www.dosomething.org/us" target="_blank"">dosomething.org</a>
			</div>
		</div>	
	</div>
</div>

<% include ./partials/footer %>