<% include ../partials/header %>

<form method='POST' action='/joiner'>
  <input name='email' type='text' placeholder='email' />
  <input name='firstname' type="text" placeholder='firstname' />
  <input name='lastname' type='text' placeholder='lastname' />
  <input name='phone' type='text' placeholder='phone' />
  <input class="" type='submit' value='Submit!' />
</form>

<% include ../partials/footer %>