<% include ../partials/header %>

<div class="container">

  <form method='POST' action='/join'>
    <input name='firstname' type='text' placeholder='firstname' />
    <input name='lastname' type='text' placeholder='lastname' />
    <input name='email' type='text' placeholder='email' />
    <input class="" type='submit' value='Register' />
  </form>

</div>
<% include ../partials/footer %>