<% include ../partials/header %>

<h1>THIS IS THE USER-INDEX.EJS PAGE</h1>

<div>
    <h1><%= data.username %></h1>
    <h3><%= data.firstname %></h3>
    <h3><%= data.lastname %></h3>
</div>

<div>
<a href="../auth/logout">LOGOUT</a>
</div>

<% include ../partials/footer %>