<% include ../partials/header %>

<h1>THIS IS THE USER-INDEX.EJS PAGE</h1>

    <% for (let event of data) { %>
      <div>
        <h2><%= event.title %></h2>
        <h3><%= event.events_date %></h3>
        <h3><%= event.events_time %></h3>
      </div>
    <% } %>

<br>

<a href="../auth/logout">LOGOUT</a>
</div>

<br>

<div>
<a href="../events/add">CREATE EVENT</a>
</div>

<% include ../partials/footer %>